<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246821395081-bm3es383gqf41n8ej5rddtm493u4umcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246821395081-bm3es383gqf41n8ej5rddtm493u4umcp</string>
	<key>API_KEY</key>
	<string>AIzaSyCp598UN5VNg4TWKbo4DdnqmnWepLfQew4</string>
	<key>GCM_SENDER_ID</key>
	<string>246821395081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recalMobile2</string>
	<key>PROJECT_ID</key>
	<string>recal-25c33</string>
	<key>STORAGE_BUCKET</key>
	<string>recal-25c33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246821395081:ios:2086667305ae41e0200458</string>
</dict>
</plist>